<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> 填写的表单不合法:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item">
    <%= f.text_field :name, :value => @user.name, :class => 'input_default focus_clear'  %>
  </div>
    <div class="item">
      <%= f.text_field :email, :value => @user.email, :class => 'input_default focus_clear' %>
    </div>
  <div class="item">
    <%= f.text_field :pwd, :value => @user.pwd, :class => 'input_default  focus_clear' %>
  </div>
  <%= f.submit submit_text, :class => 'input_submit' %>
<% end %>
