<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :base_assets %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="header">
    <div id="logo">
      <h1>RainBlog</h1>
    </div>
    <%= yield :header %>
  </div>
  <div id="content">
    <div class="left">
      <%= yield %>
    </div>
    <% if(content_for?(:right)) %>
      <%= yield(:right) %>
    <% else %>
      <div class="right">
        <div class="CadetBlue"><%= session[:current_user]['name'] %></div>
        <h4>ToolBox</h4>
        <ul>
          <li><a class="green" href="/articles">Home</a></li>
          <li><a class="green" href="/articles/new">New Blog</a></li>
          <li><a class="green" href="/logout">logout</a></li>
          <li>About</li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="clear" />
  <div id="footer">
    <!-- 三色线效果 -->
    <div class="three first"></div>
    <div class="three second"></div>
    <div class="three third"></div>
    <div class="clear" />

    <a href="https://github.com/tiemei/blog" class="green">Open source Page</a>
    |
    <a href="http://ruby-china.org/tiemei" class="green">Powered by @tiemei</a>
  </div>
</div>
</body>
</html>
